#header {
    width: 100%;
    background-color: rgba(255, 255, 255, .2);

    /*background: #2179CE;*/
    /*background: -moz-linear-gradient(left, #2179CE 0%, #0DA49D 40%, #08C596 100%);*/
    /*background: -webkit-linear-gradient(left, #2179CE 0%, #0DA49D 40%, #08C596 100%);*/
    /*background: linear-gradient(to right, #2179CE 0%, #0DA49D 40%, #08C596 100%);*/

    color: black;
    display: flex;
    justify-content: space-between;
    height: 77px;
    align-items: center;
}

.navigation {
    justify-content: flex-end;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: end;
    list-style: none;
}

.menu > li {
    padding: 10px 10px 10px 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    transition: 300ms;
    border-bottom: 1px solid transparent;
}

.menu a:hover {
    border-color: white;
}